.block.block-preview-page {
  text-decoration: none; //car c'est un lien


  .container{
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--spacing-big) 0;
  }

  .tiret{
    position: absolute;

    color:@color-dark3;
    transition: height 0.5s;
    overflow: hidden;
    height: 0;

    &:first-of-type{
      right: -250px;
    }
    &:last-of-type{
      left: -250px;
    }
  }
  // background

  .wrap-bg {
    position: relative;
    transition: transform 0.4s !important;
    transform: scale(1) translateY(50px);
    .py-big;
    .gradient-dark;

    margin-left: -15px;
    margin-right: -15px;
    @media (min-width: @screen-md) {
      margin-left: 0px;
      margin-right: 0px;
    }

    &:before {
      content: "";
      transition: all 0.5s;
      position: absolute;
      opacity: 0;
      display: block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: skewX(45deg) scaleX(0);
      background-image: linear-gradient(-135deg, var(--page-color), var(--page-color2));
    }


    .img-wrap {

      transition: transform 2s;
      transform: scale(1);

      margin-left: var(--spacing-medium);
      margin-right: var(--spacing-medium);
      margin-top: 60px;

      @media (min-width: @screen-md) {
        margin-left: var(--spacing-invert);
        margin-right: 0;
        .my-medium;
      }

      img {
        .radius-img;
        .shadow-big;
        @media (min-width: @screen-md) {
          position: relative;
          top: 7px;
        }
      }
    }


    .block-texte {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      margin-right: var(--spacing-big);
      margin-left: var(--spacing-big);

      @media (min-width: @screen-md) {
        margin-right: var(--spacing-medium);
        margin-left: var(--spacing-medium);
      }

      @media (min-width: @screen-lg) {
        margin-right: var(--spacing-big);
        margin-left: var(--spacing-big);
      }

      .title {
        .my-medium;
      }

      .title, .fleche {
        color: var(--page-color, #fff);
      }

      .title, .fleche, .txt {
        transition: color 0.5s;
      }


      .svg {
        .mt-medium;
        width: 60px;
        height: 26px;
      }

    }
  }


  // rubrique

  &.block-preview-rub {
    margin-top: 150px;
    margin-bottom: var(--spacing-big);
    @media (min-width: @screen-lg) {
      margin-top: 150px;
    }
    @media (min-width: @screen-xl) {
      margin-top: 200px;
    }
  }

  .is-rub {
    margin-top: var(--spacing-big);
  }


  // rub

  .wrap-rub {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    top: -50px;
    transition: transform 2s;
    transform: scale(1);

    justify-content: center;

    @media (min-width: @screen-md) {
      justify-content: inherit;
      top: -70px;
      padding-left: calc(50% + var(--spacing-small) + var(--spacing-big)) ;
      .invert& {
        padding-left: calc(var(--spacing-big));
      }
    }
    @media (min-width: @screen-lg) {
      top: -60px;
    }
    @media (min-width: @screen-xl) {
      top: -70px;
    }

  }

  // position inversée

  &.invert {
    @media (min-width: @screen-md) {
      .tiret{

        &:first-of-type{
          right: inherit;
          left: -250px;
        }
        &:last-of-type{
          left: inherit;
          right: -250px;
        }
      }



      .row {
        .rub {
          margin-left: var(--spacing-big);
          margin-right: var(--spacing-small);
        }

        .block-texte {
          margin-left: var(--spacing-big);
          margin-right: var(--spacing-small);
        }

        .img-wrap {
          margin-right: var(--spacing-invert);
        }

        div {
          &:first-child {
            order: 2;
          }
        }
      }

    }

  }


  //
  &:hover {

    .tiret{
      height: 100px;
    }
    .wrap-bg {
      transform: scale(1.02);


      .wrap-rub, .img-wrap {
        transform: scale(1.03);
      }

      &:before {
        opacity: 1;
        transform: skewX(0deg) ;
      }

      .fleche {
        animation-name: kf-left-right;
        animation-iteration-count: infinite;
        animation-duration: 0.4s;
        animation-direction: alternate;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;


      }

      .title, .fleche, .txt {
        color: white;
      }
    }
  }

}

@keyframes kf-left-right {
  to {
    transform: translateX(30px);
  }
}