.block-titre {
  .container {

    .py-big;

    &.encart {
      display: flex;
      justify-content: center;
      align-items: center;
      .tt-titre {
        .encart-titre;
      }
      svg {
        display: none;
      }
    }

    &.ligne {
      .tt-titre {
        .link;
        color: @color-white;
      }
    }

  }
}


