.is-admin {
  [data-aos] {
    pointer-events: auto;
  }
}

.is-human {


  //filter: hue-rotate(180deg) brightness(0.5);
  //transform: skewY(3deg) translateY(50px);

  [data-aos="floating"] {

    transition: all 1.75s !important;
    transition-timing-function: cubic-bezier(0.35, 2.12, 0.39, 0.97) !important;
    transform: translateY(50px);
    opacity: 0;

    &.delay {
      transition-delay: 0.2s !important;
    }

    &.aos-animate {
      transform: translateY(0px);
      opacity: 1;
    }



  }




}



