.cadre{

  @radius:16px;
  position: relative;


  .img-wrap{
    //border-radius: @radius;
    position: relative;
    z-index: 10;
    //overflow: hidden;
    img{
      border-radius: @radius;
      overflow: hidden;
      .shadow-big;

      transition: all 0.3s;
      transform: scale(1);
      &:hover {
        .shadow-lighter;
        transform: scale(1.02);

      }
    }


  }


  &.multiple{
    margin-top: var(--spacing-medium);
    &:before,&:after{
      content:"";
      border-radius: @radius;
      position: absolute;
      //background-color: lighten(@color-dark1,10%);
      width: 100%;
      height: 110%;
      transform-origin: top center;
      top: 0;
      left: 0;

    }
    &:after{
      transform: scale(0.80) translateY(-60px);
      z-index: 3;
      background-image: linear-gradient(to bottom, @color-dark2 , @color-dark3);
    }
    &:before{
      transform: scale(0.90) translateY(-30px);
      z-index: 4;
      background-image: linear-gradient(to bottom, @color-dark3 , @color-dark4);
    }

    &[data-aos="floating"]{
      &:before,&:after{
        transition: all 1.75s !important;
        transform: translateY(50px);
        opacity: 0;
      }
      &.aos-animate {
        &:before,&:after{
          opacity: 1;
        }
        &:before {
          transform: scale(0.90) translateY(-30px);
        }
        &:after {
          transform: scale(0.80) translateY(-60px);
        }
      }
    }


  }
}