.cadre{

  position: relative;


  .wrap-zoom{

    .zoom-ico{
      position: absolute;
      z-index: 11;
     border: 1px solid white;
      border-radius: 100%;
      transform: scale(0.6);
      transform-origin: 50%;

      width: 60px;
      height: 60px;
      top: 30px;
      left: 75px;
      opacity: 0;
      margin-left: -30px;
      margin-top: -30px;
      transition: all  1s cubic-bezier(.32,1.82,.37,1.01);
      svg{
        color: white;
        position: relative;
        top: 50%;
        left: 50%;
        margin-left: -22px;
        margin-top: -22px;
        width: 40px;
        height: 40px;
      }
    }
  }


  .img-wrap{
    //border-radius: @radius;
    position: relative;
    z-index: 10;

    &:hover {
      img{
        .shadow-lighter;
        transform: scale(1.02);

      }
      .wrap-zoom{
        .zoom-ico{
          transform: scale(1);
          opacity: 1;
          top:60px;
        }
      }
    }


    img{
      .radius-img;
      overflow: hidden;
      .shadow-big;
      transition: all 0.3s;
      transform: scale(1);

    }


  }


  &.multiple{
    margin-top: var(--spacing-medium);
    &:before,&:after{
      content:"";
      .radius-img;
      position: absolute;
      //background-color: lighten(@color-dark1,10%);
      width: 100%;
      height: 110%;
      transform-origin: top center;
      top: 0;
      left: 0;

    }
    &:after{
      transform: scale(0.80) translateY(-60px);
      z-index: 3;
      background-image: linear-gradient(to bottom, @color-dark2 , @color-dark3);
    }
    &:before{
      transform: scale(0.90) translateY(-30px);
      z-index: 4;
      background-image: linear-gradient(to bottom, @color-dark3 , @color-dark4);
    }

    &[data-aos="floating"]{
      &:before,&:after{
        transition: all 1.75s !important;
        transform: translateY(50px);
        opacity: 0;
      }
      &.aos-animate {
        &:before,&:after{
          opacity: 1;
        }
        &:before {
          transform: scale(0.90) translateY(-30px);
        }
        &:after {
          transform: scale(0.80) translateY(-60px);
        }
      }
    }


  }
}