.rub-home {

  display: flex;
  justify-content: center;
  align-items: center;
  @height-rub: 200px;
  // margin: var(--spacing-medium) 0;

  .rub {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    width: 250px;
    height: 100px;
    margin: 0 var(--spacing-small);
   // transition: scale 0.5s;

    > a {
      overflow: hidden;
      text-decoration: none;
      text-transform: uppercase;
      .pxy-medium;
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      color: white;
text-align: center;

    }

    &:before {
      pointer-events: none;
      content: "";
      transition: all 0.5s;
      position: absolute;
      opacity: 0;
      background-image: linear-gradient(to bottom, var(--page-color), var(--page-color2));
      transform-origin: center center;
      width: 200px;
      height: @height-rub;
      transform: skewX(75deg) scale(0);
    }

    >a{




      .short,.long{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.5s;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .long{
        opacity: 0;
        position: absolute;
        width: auto;
      }

    }


    &:hover {
      width: 350px;
      > a {
        text-align: center;
        .short{
          opacity: 0;
        }
        .long{

          border: 4px solid @color-white;
          padding: 10px 20px;
          opacity: 1;
        }
      }

      &:before {
        transform: skewX(45deg) scale(0.7);
        opacity: 1;
        @media (min-width: @screen-lg) {
          transform: skewX(45deg) scale(0.8) ;
        }
        @media (min-width: @screen-xl) {
          transform: skewX(45deg) scale(1) ;
        }
      }

    }

  }
}


