.page {

  > svg.angle-degrade {
    position: absolute;
    right: 0;
    width: 110%;
    height: auto;
    @media (min-width: @screen-xs) {
      width: 80%;
    }
    @media (min-width: @screen-lg) {
      width: 60%;
    }

  }


  .page-header {
    position: relative;
    padding: 100px var(--spacing-medium) 0 var(--spacing-medium);
    text-align: left;

    @media (min-width: @screen-sm) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    .block-img {
      top: 80px;
      right: 10%;
      position: absolute;

      @media (min-width: @screen-xs) {
        right: 20%;
      }

      @media (min-width: @screen-sm) {
        top: 0px;
        right: 0px;
        position: inherit;
      }

      @media (min-width: @screen-md) {

        padding :  var(--spacing-big) 0 var(--spacing-big) var(--spacing-big);
      }

      img {
        max-width: 150px;

        @media (min-width: @screen-xs) {
          max-width: 170px;
        }

        @media (min-width: @screen-sm) {
          max-width: 230px;
        }
        @media (min-width: @screen-xl) {
          max-width: 400px;
        }
      }
    }

    .wrap-rub {

      margin-top: var(--spacing-big);
      z-index: 1;

      .title {
        padding-top: var(--spacing-medium);
        color: var(--page-color);
      }

      .rub {

        margin: 0 var(--spacing-big) 0 0;
      }

    }


    .wrap-text {
      display: flex;
      flex-direction: column;

    }

  }
}