@color-black:#000;
@color-white:#fff;

@color-grey-dark:#333;
@color-grey: #79828e;
@color-grey-light: #A1ADB9;

@color-fluo: #deff31;
@color-fluo: #ff5f7f;
@color-fluo-complementaire: #fff;


@color-dark1: #07101a;
@color-dark2: #0f2537;
@color-dark3: #132f42;
@color-dark3-1: #183b55;
@color-dark4: #323C45;
@color-dark5: #45525e;


.gradient-darker{
  background-color:  @color-dark1;
  background-image: linear-gradient(to bottom, @color-dark1 , @color-dark2);
}

.gradient-dark{
  background-image: linear-gradient(to right, @color-dark3 , @color-dark4);
}

.gradient-lighter{
  background-image: linear-gradient(to right, @color-dark3-1 , @color-dark5);
}

.gradient-transparent{
  background-image: linear-gradient(to right, transparent , transparent);
}


@color-pink : #FF0091;
@color-orange : #ff886a;
@color-blue : #24C3F4;
@color-green : #00FFC5;
@color-purple: #7234f4;


.gradient-pink{
  background-image: linear-gradient(to right, @color-pink , @color-orange);
}

.gradient-blue{
  background-image: linear-gradient(to right, @color-green , @color-blue);
}
.gradient-bg-blue{
  background-image: linear-gradient(135deg, @color-dark1 33%, rgba(7,16,26,0.7));
}


.theme-orange{
  --page-color: @color-orange;
  --page-color2: @color-pink;
}

.theme-blue{
  --page-color: @color-blue;
  --page-color2: @color-pink;
}

.theme-green{
  --page-color: @color-green;
  --page-color2: @color-purple;
}

.theme-pink{
  --page-color: @color-pink;
  --page-color2: @color-purple;
}




//filtres CSS pour transformer le noir en une couleur
@fluo-pink:#EC008C;
@fluo-purple:#662D91;
@fluo-green:#54C2B7;
@fluo-blue:#27AAE1;
@fluo-orange:#F4866B;
@fluo-yellow:#C7D529;



.filter-black2orange{
  filter:hue-rotate(40deg) saturate(40%) brightness(225%); //orange
}

.filter-black2blue{
  filter:hue-rotate(185deg) saturate(100%) brightness(190%); //bleu
}

.filter-black2green{
  filter: brightness(117) hue-rotate(174deg) saturate(100); //vert
}


.filter-black2pink{
  filter:hue-rotate(310deg) brightness(180%); //rose
}

.filter-black2yellow{
  filter: hue-rotate(60deg) brightness(300%);  //jaune
}

.filter-black2purple{
  filter: hue-rotate(320deg) saturate(100%); //violet
}





