[data-page-transition-state] {
  #main-content {
    animation-iteration-count: 1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    transform-origin: top;

    .angle-degrade {
      animation-iteration-count: 1;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out;
      transform-origin: top;
    }

    .block-preview-page .block-img, .block-preview-page .wrap-rub {
      animation-iteration-count: 1;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
      transform-origin: top;
    }

    .block-preview-page .wrap-rub {
      animation-delay: 0.1s;
    }
  }


}

[data-page-transition-state="start"] {
  #main-content {
    animation-name: kf-to-left;

    .angle-degrade {
      animation-name: kf-to-top;
    }
    .block-preview-page .block-img, .block-preview-page .wrap-rub {
      animation-name: kf-to-top-rub;
    }

  }
  #page-transition{
    left: -100vmax;
  }

}

[data-page-transition-state="end"] {
  #main-content {
  animation-name: kf-from-right;

    .angle-degrade {
      animation-name:kf-from-bottom;
    }


  }
}

#page-transition{
  position: fixed;
  z-index: ( @z-nav - 10 );
  pointer-events: none;
  top: 0;
  transition: all 0.5s;
  left : 100vmax;
  width: calc( 200vmax);
  height: calc( 200vmax);
  background-color: rgba(0,255 , 0, 0.4);
  transform: skewX(45deg);
  transform-origin: top left;
}




@keyframes kf-to-left {
  0% {
    //transform: skewY(0);
  }
  100% {
    /*transform: skewY(25deg);*/
    filter: hue-rotate(180deg) contrast(3);
    opacity: 0;
  }
}

@keyframes kf-from-right {
  0% {
    opacity: 0;
    //transform: skewY(25deg);
  }
  100% {

   // transform: skewY(0);
  }
}


@keyframes kf-grow-x {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes kf-grow-x {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes kf-to-top-rub {
  0% {
    transform: translateY(0px);
  }
  100% {

      transform: translateY(-200px);
  }
}


@keyframes kf-from-top {
  0% {
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-600px);
  }
}

@keyframes kf-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(-600px);
  }
  100% {

    transform: translateY(0px);
  }
}




