#footer {

  .gradient-dark;
  color: @color-white;

  a {
    color: currentColor;
    text-decoration: none;
  }

  .container {

    text-align: center;

    .wrap-logos {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: var(--spacing-big) 0;

      .item {
        .mx-small;
      }
    }

    .wrap-contact, .wrap-legal {
      .my-big;
    }

    .wrap-legal{
      a{
        .link;
        opacity: 0.5;
      }

    }

    .wrap-contact {
      address {
        font-style: normal;
      }
    }

  }
}