.angle-degrade {
  //transform: scaleX(-1);
  position: absolute;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
 // outline: 1px solid red;
  //outline-offset: -10px;

  .logo-animation{
    height: 60vh;
    width: 100%;
    display: block;
  }

  .baseline-rub{

    .baseline{
      display: flex;
      margin: var(--spacing-medium) 0 0 var(--spacing-medium);
      .wrap-text {
        .text {
          overflow: hidden;
          h3 {
            position: relative;
            top: 0px;
            transition: top 0.5s;
          }
        }
      }
      .tiret {
        position: relative;
        top:-65px;
        left: 25px;
        overflow: hidden;
        transform: skewX(45deg);


        >svg  {
          color: @color-dark3;
          transform: skewX(-45deg);
          position: relative;
          transition: left 0.3s;
          left: 0px;
        }
      }
    }

  }





  &:hover {

    .baseline-rub .baseline .wrap-text .text h3 {
      top:50px;
    }

    .baseline-rub .baseline .tiret >svg  {
      left: -300px;
    }
  }


}