@media (min-width: @screen-xl) {
  body.is-home {
    #nav {
      transition: all 0.5s;
      transform: translateY(-100px);
    }

    &.scrolled {
      #nav {
        transform: translateY(0px);
      }
    }
  }
}


#nav {

  .activator {
    transition: left 0.2s ease-out, width 0.1s ease-out, border 0.1s ease-in 0.2s;
    position: absolute;
    height: 0px;
    width: 0px;
    border: 2px solid #fff;
    pointer-events: none;

    &.is-active {
      border: 4px solid #fff;
    }

    &.is-invisible {
      opacity: 0;
      transform: scale(1.2);
    }
  }

  .menu {
    position: relative;
  }

  [data-href-uid] {
    color: #fff;
  }

  a {
    color: currentColor;
    text-decoration: none;
    position: relative;
    border: 3px solid transparent;

    &.active {
      //border: 1px dotted @color-white;
      //opacity: 0.5;
    }
  }

  .wrap-logo {
    width: var(--nav-menu-width, 80px);
    height: var(--nav-bar-height, 80px);

    .logo {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

}

@import "nav-burger.less";
@import "nav-not-burger.less";


