@sprite-a-w:400px;
@sprite-a-h:400px;
@sprite-a-steps:40;


@sprite-b-w:400px;
@sprite-b-h:400px;
@sprite-b-steps:40;


.sprites{
  position: relative;
  width:@sprite-a-w;
  height:@sprite-a-h;

  .sprite-a{
    position: absolute;
    width: 100%;
    height: 100%;

  }

  .sprite-b{
    position: absolute;
    width: 100%;
    height: 100%;

  }
}
.sprite-a{
  float: left;
  background-image: url('./sprite-a.png');
  mix-blend-mode:screen;
  //mix-blend-mode: hard-light;
  //outline: 1px solid red;
  //transition: background-position 1s step-start;
  &.animate{
    animation-name: sprite-a;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(@sprite-a-steps);
    //animation: sprite-a 1s steps(17) infinite alternate;
  }

  &.duree1{
    animation-delay: 0.2s;
    animation-duration: 1.97s;
  }
  &.duree2{
    animation-delay: 0.7s;
    animation-duration: 1.74s;
  }
  &.duree3{
    animation-delay: 0.8s;
    animation-duration: 1.93s;
  }
  &.duree4{
    animation-delay: 1.0s;
    animation-duration: 1.87s;
  }


  &.taille1{
    transform: scale(0.8);
  }
  &.taille2{
    transform: scale(0.9);
  }
  &.taille3{
    transform: scale(0.7) rotate(-4deg);;
  }
  &.taille4{
    transform: scale(0.8) rotate(4deg);
  }

  &.pos1{
    top: 40px;
    left: 0px;
  }
  &.pos2{
    top: 10px;
    left: 10px;
  }
  &.pos3{
    top: 50px;
    left: 10px;
  }
  &.pos4{
    top: -10px;
    left: -10px;
  }


}

@keyframes sprite-a {
  from {
    background-position:    0;
    //transform: rotate(0);
  }
  to {
    background-position: calc( @sprite-a-w * @sprite-a-steps * -1 ); // 120px * 17 images
    //transform: rotate(45deg);
  }
}



.sprite-b{
  float: left;
  background-image: url('./sprite-b.png');
  mix-blend-mode:screen;
  //mix-blend-mode: hard-light;
  //outline: 1px solid red;
  //transition: background-position 1s step-start;
  &.animate{
    animation-name: sprite-b;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(@sprite-b-steps);
    //animation: sprite-a 1s steps(17) infinite alternate;
  }

  &.duree1{
    animation-delay: 0.2s;
    animation-duration: 1.97s;
  }
  &.duree2{
    animation-delay: 0.7s;
    animation-duration: 1.74s;
  }
  &.duree3{
    animation-delay: 0.8s;
    animation-duration: 1.93s;
  }
  &.duree4{
    animation-delay: 1.0s;
    animation-duration: 1.87s;
  }


  &.taille1{
    transform: scale(0.8);
  }
  &.taille2{
    transform: scale(0.9);
  }
  &.taille3{
    transform: scale(0.7) rotate(-4deg);;
  }
  &.taille4{
    transform: scale(0.8) rotate(4deg);
  }

  &.pos1{
    top: 40px;
    left: 0px;
  }
  &.pos2{
    top: 10px;
    left: 10px;
  }
  &.pos3{
    top: 50px;
    left: 10px;
  }
  &.pos4{
    top: -10px;
    left: -10px;
  }


}

@keyframes sprite-b {
  from {
    background-position:    0;
    //transform: rotate(0);
  }
  to {
    background-position: calc( @sprite-b-w * @sprite-b-steps * -1 ); // 120px * 17 images
    //transform: rotate(45deg);
  }
}